*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2EAE2;
}
body main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body main .card {
  max-width: 34.3rem;
  background-color: #fff;
  border-radius: 0.8rem;
}
@media screen and (min-width: 1024px) {
  body main .card {
    display: flex;
    flex-direction: row;
    max-width: 60rem;
    height: 45rem;
  }
}
body main .card .imagen {
  width: 100%;
  height: 24rem;
  background-image: url("/images/image-product-mobile.jpg");
  background-size: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  body main .card .imagen {
    height: auto;
    background-image: url("/images/image-product-desktop.jpg");
    border-bottom-left-radius: 0.8rem;
    border-top-right-radius: 0;
    width: 50%;
  }
}
body main .card .imagen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.123);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
@media screen and (min-width: 1024px) {
  body main .card .imagen::before {
    border-bottom-left-radius: 0.8rem;
    border-top-right-radius: 0;
  }
}
body main .card .text-wrapper {
  padding: 2.4rem;
}
@media screen and (min-width: 1024px) {
  body main .card .text-wrapper {
    width: 50%;
    padding: 3.2rem;
  }
}
body main .card .text-wrapper .perfume {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
  color: #6C7289;
}
@media screen and (min-width: 1024px) {
  body main .card .text-wrapper .perfume {
    margin-bottom: 2rem;
  }
}
body main .card .text-wrapper h1 {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: bold;
  margin-bottom: 2.6rem;
  color: #1C232B;
}
@media screen and (min-width: 1024px) {
  body main .card .text-wrapper h1 {
    margin-bottom: 2rem;
  }
}
body main .card .text-wrapper p {
  font-family: "Montserrat", serif;
  font-size: 1.4rem;
  line-height: 2.3rem;
  font-weight: medium;
  margin-bottom: 3.5rem;
  color: #1C232B;
}
@media screen and (min-width: 1024px) {
  body main .card .text-wrapper p {
    margin-bottom: 3.3rem;
  }
}
body main .card .text-wrapper .price-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 1024px) {
  body main .card .text-wrapper .price-container {
    margin-bottom: 2.8rem;
  }
}
body main .card .text-wrapper .price-container .present-price {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: bold;
  color: #3D8168;
}
body main .card .text-wrapper .price-container .previous-price {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: medium;
  color: #6C7289;
  text-decoration: line-through;
}
body main .green-button {
  background-color: #3D8168;
  border: none;
  border-radius: 0.8rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1.6rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body main .green-button:hover {
  background-color: #1A4032;
}
body main .green-button img {
  margin-right: 1rem;
  width: auto;
  height: 1.6rem;
}/*# sourceMappingURL=estilo.css.map */